* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#home {
    color: white;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 11px;
    size: 16px;
}
li {
    font-weight: 700;
    border-color: gray;
    padding-left: 16px;
    list-style: none;
    list-style-position:inside;
    border-top: 1px solid #AAAAAA;
    border-bot: 1px solid #AAAAAA;
    color: #AAAAAA;
    padding-top: 22px;
    padding-bottom: 22px;

}
.wrapper {
    display: flex;
    
    min-height: 100%;    
    
    
}
.wrapper .sidebar {
    
    width: 150px;
    
    background-color: #191718 ;
    
}
.wrapper .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.wrapper .main-content #logo {
    margin: 1.5rem auto 1.5rem auto;
    padding-left: 8rem;
    padding-right: 8rem;
    
}
.wrapper .main-content .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1.5rem 12rem 1.5rem 12rem;
    background-color: #EFEFEF;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;

    
}
.wrapper .main-content .heading h2 {
    text-align: center;
    margin-bottom: 1rem;
    size: 18px;
    font-weight: 700;
}
.wrapper .main-content .heading p {
    text-align: center;
    size: 16px;
    font-weight: 400;
}
.wrapper .main-content .items {
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.wrapper .main-content .items img {
    float: left;
}
.description {
    text-align: justify;
}
footer {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 2rem;
    
    
}
hr {
    margin-top: 13rem;
    color: #DEDEDE;
}
@media screen and (max-width: 970px) {
    .wrapper .main-content .heading {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .wrapper .main-content .items {
        display: flex;
        flex-direction: column;
    }
}